html {
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", sans-serif;
  margin: 0%;
}
.container {
  width: 1140px;
  /*border :1px black solid;*/
  margin: 0 auto;
}
header a {
  color: white;
  text-decoration: none;
}

.header-nav {
  padding: 10px;
  background-color: blue;
}
.header-logo {
  float: left;
  margin: 0px 250px;
}

main {
  margin: 0%;
  padding: 0%;
  list-style: none;
  font-size: 0%;
}

.main-item {
  display: inline-block;
}
.main-link {
  text-transform: uppercase;
  padding: 0px 10px;
  font-size: 16px;
}
